<div class="jumbotron">
<h1> Drop me a line</h1>

	<%= link_to "email", "mailto:sdc101@gmail.com?subject=I love your site" %> / 
	<%= link_to "skype", "skype:shanancohen" %> /
	<%= link_to "twitter", "https://twitter.com/o_cohens" %> /
	<%= link_to "instagram", "https://instagram.com/sodenbyssingle" %>

<p> Facebook? I don't think so! </p>
</div>