<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	     <p>
       <%= link_to "Log in", "http://www.espn.com", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "http://www.cnn.com", class: "btn btn-primary btn-lg" %>
  </p> 
</div>